.columns{
    display: grid;
    grid-template-columns: auto auto; /*use to make the coloumn fix with screen size*/
    padding-left: 50px;
}

.box{
    height: 140px;
    width: 280px;
    background-color: rgb(154, 177, 183);
    border-radius: 35px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-style: dashed;
}

.box h2{
    color: rgb(46, 36, 183);
    font-size: 33px;
    margin-bottom: 40px;
}

.box p{
    color: rgb(59, 64, 73);
    font-size: 18px;
}

.about img:hover{
    width: 250px;
    height: 250px;
}